// CSS Reset
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

// Global baseline styles
:root {
  --dark-purple: hsl(273deg 85% 13%);
  --eucaplyptus: hsl(150deg 100% 63%);
  --davys-grey: hsl(271deg 12% 34%);
  --ghost-white: hsl(276deg 100% 99%);
  --white: hsl(0deg 0% 100%);
}
