// Use Scss variable
$tablet-and-below: 1100px;
$mobile-and-below: 550px;

.wrapper {
  display: grid;
  min-height: 100%;
  grid-template-areas:
    'header'
    'main'
    'profile'
    'footer';
  grid-template-rows: 660px 730px 1fr 350px;

  position: relative;
  overflow: hidden;
  background-color: var(--ghost-white);

  --padding-identation: 160px;
  --padding-identation-tablet: 38px;
  --padding-identation-mobile: 16px;

  @media (max-width: $tablet-and-below) {
    grid-template-rows: 540px 1000px 1fr 250px;
  }

  @media (max-width: $mobile-and-below) {
    grid-template-rows: 480px 1100px 1fr 250px;
  }
}

.header {
  grid-area: header;
  background-color: var(--ghost-white);
  background-image: url('/images/header-curve.svg');
  background-position: bottom;
  background-size: cover;

  padding-left: var(--padding-identation);
  padding-right: var(--padding-identation);
  padding-top: 60px;

  display: flex;
  gap: 36px;
  flex-direction: column;

  position: relative;

  @media (max-width: $tablet-and-below) {
    padding-left: var(--padding-identation-tablet);
    padding-right: var(--padding-identation-tablet);
    padding-top: var(--padding-identation-tablet);
    background-image: url('/images/header-curve-tablet.svg');
  }

  @media (max-width: $mobile-and-below) {
    padding-left: var(--padding-identation-mobile);
    padding-right: var(--padding-identation-mobile);
    background-image: url('/images/header-curve-mobile.svg');
  }
}

.superheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.link {
  font-family: var(--font-manrope);
  color: var(--white);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  text-decoration: none;
  border-bottom: 3px solid var(--eucaplyptus);

  @media (max-width: $tablet-and-below) {
    font-size: 16px;
  }
}

.link:hover,
.link:focus {
  color: var(--eucaplyptus);
}

.header p {
  align-self: center;

  font-family: var(--font-fraunces);
  font-size: 80px;
  color: var(--white);
  font-weight: 600;
  line-height: 80px;
  text-align: center;
  width: 635px;

  @media (max-width: $tablet-and-below) {
    width: 520px;
    font-size: 55px;
    line-height: 60px;
  }

  @media (max-width: $tablet-and-below) {
    width: 340px;
    font-size: 45px;
    line-height: 50px;
  }
}

.header p > span {
  border-bottom: 3px solid var(--eucaplyptus);
}

.header button {
  align-self: center;

  width: 160px;
  min-height: 60px;
  background-color: var(--eucaplyptus);

  font-family: var(--font-manrope);
  color: var(--dark-purple);
  font-size: 18px;
  font-weight: 700;
  border: 0;

  @media (max-width: $tablet-and-below) {
    font-size: 16px;
    width: 133px;
    min-height: 55px;
  }
}

.header button:hover,
.header button:focus {
  background-color: var(--dark-purple);
  border: 2px solid var(--eucaplyptus);
  color: var(--eucaplyptus);
}

.bgpatternone {
  position: absolute;
  top: 116px;
  left: -112px;

  @media (max-width: $tablet-and-below) {
    left: -160px;
  }

  @media (max-width: $mobile-and-below) {
    display: none;
  }
}

.bgpatterntwo {
  position: absolute;
  top: 314px;
  right: -48px;
  overflow: hidden;

  @media (max-width: $tablet-and-below) {
    right: -68px;
  }

  @media (max-width: $mobile-and-below) {
    display: none;
  }
}

.heropic {
  position: absolute;
  bottom: -220px;
  left: 0;
  right: 0;
  margin: auto;

  @media (max-width: $tablet-and-below) {
    width: 480px;
    height: 287px;
    bottom: -150px;
  }

  @media (max-width: $mobile-and-below) {
    width: 298px;
    height: 178px;
    bottom: -108px;
  }
}

.main {
  font-family: var(--font-fraunces);
  color: var(--dark-purple);
  grid-area: main;
  margin-top: 260px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-left: var(--padding-identation);
  padding-right: var(--padding-identation);

  background-color: var(--white);
  background-image: url('/images/main-curve.svg');
  background-position: bottom;
  background-size: cover;

  @media (max-width: $tablet-and-below) {
    padding-left: 98px;
    padding-right: 98px;
    background-image: url('/images/main-curve-tablet.svg');
    flex-direction: column;
  }

  @media (max-width: $mobile-and-below) {
    padding-left: var(--padding-identation-mobile);
    padding-right: var(--padding-identation-mobile);
    background-image: url('/images/main-curve-mobile.svg');
    flex-direction: column;
    margin-top: 160px;
  }
}

.main article {
  max-width: 354px;
  height: 308px;
  display: grid;
  justify-content: center;
  justify-items: center;

  @media (max-width: $tablet-and-below) {
    grid-template-areas:
      'number heading'
      'number details';
    gap: 16px 32px;
    justify-content: revert;
    justify-items: revert;
    max-width: 573px;
  }

  @media (max-width: $mobile-and-below) {
    grid-template-areas: revert;
    justify-content: center;
    justify-items: center;
    max-width: 330px;
    gap: 16px;
    height: 220px;
  }
}

.main div {
  font-weight: 600;
  font-size: 24px;
  width: 56px;
  height: 56px;
  border: 1px solid var(--dark-purple);
  border-radius: 50%;
  display: grid;
  place-content: center;

  @media (max-width: $tablet-and-below) {
    font-size: 20px;
    grid-area: number;
    width: 48px;
    height: 48px;
    align-self: center;
  }

  @media (max-width: $mobile-and-below) {
    grid-area: revert;
    align-self: revert;
  }
}

.main h2 {
  font-size: 32px;
  font-weight: 600;

  @media (max-width: $tablet-and-below) {
    grid-area: heading;
    align-self: end;
    font-size: 28px;
  }

  @media (max-width: $mobile-and-below) {
    grid-area: revert;
    align-self: revert;
  }
}

.main p {
  font-family: var(--font-manrope);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 2;

  @media (max-width: $tablet-and-below) {
    grid-area: details;
    text-align: revert;
    font-size: 16px;
    line-height: 28px;
  }

  @media (max-width: $mobile-and-below) {
    grid-area: revert;
    text-align: center;
  }
}

.profile {
  grid-area: profile;
  padding: 120px var(--padding-identation) 120px
    var(--padding-identation);

  display: flex;
  justify-content: center;
  background-color: var(--white);

  @media (max-width: $tablet-and-below) {
    padding: 120px var(--padding-identation-tablet) 120px
      var(--padding-identation-tablet);
  }

  @media (max-width: $mobile-and-below) {
    flex-direction: column;
    padding: 100px var(--padding-identation-mobile) 0px
      var(--padding-identation-mobile);
    align-items: center;
  }
}

.founderimage {
  @media (max-width: $tablet-and-below) {
    width: 282px;
    height: 282px;
  }
}

.profile article {
  max-width: 730px;
  background-color: var(--dark-purple);
  padding: 64px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  position: relative;
  left: -80px;
  top: 170px;
  margin-right: -64px;

  @media (max-width: $tablet-and-below) {
    max-width: 514px;
    padding: 48px;
    margin-right: -48px;
    top: 150px;
  }

  @media (max-width: $mobile-and-below) {
    gap: 16px;
    align-items: center;
    max-width: 500px;
    padding: 32px;
    margin-right: 0px;
    top: -50px;
    left: 0;
  }
}

.profile article h2 {
  font-family: var(--font-fraunces);
  color: var(--white);
  font-size: 56px;
  font-weight: 600;

  @media (max-width: $tablet-and-below) {
    font-size: 48px;
  }

  @media (max-width: $mobile-and-below) {
    font-size: 32px;
    line-height: 48px;
    text-align: center;
  }
}

.profile article p {
  font-family: var(--font-manrope);
  color: var(--white);
  font-size: 18px;
  font-weight: 400;
  line-height: 2;

  @media (max-width: $tablet-and-below) {
    font-size: 16px;
    line-height: 28px;
  }

  @media (max-width: $mobile-and-below) {
    text-align: center;
  }
}

.profile button {
  font-family: var(--font-manrope);
  background-color: var(--eucaplyptus);
  color: var(--dark-purple);
  font-weight: 700;
  font-size: 18px;
  width: 190px;
  height: 60px;
  line-height: 2;
  border: 0;

  @media (max-width: $tablet-and-below) {
    width: 172px;
    height: 55px;
    font-size: 16px;
  }
}

.profile button:hover,
.profile button:focus {
  background-color: var(--dark-purple);
  border: 2px solid var(--eucaplyptus);
  color: var(--eucaplyptus);
}

.bgpatternthree {
  position: absolute;
  bottom: -62px;
  right: 10px;

  @media (max-width: $mobile-and-below) {
    display: none;
  }
}

.footer {
  grid-area: footer;
  display: grid;
  place-content: center;
  padding-top: 80px;
  background-color: var(--white);

  @media (max-width: $mobile-and-below) {
    padding-top: 0px;
  }
}

.logo_icon_wrapper {
  width: 120px;
  height: 110px;
  display: grid;
}

.footericon {
  justify-self: center;
}

.social {
  display: flex;
  justify-content: space-between;
}
