.wrapper {
  display: grid;
  min-height: 100%;
  grid-template-areas:
    'header'
    'main'
    'profile'
    'footer';
  grid-template-rows: 700px 700px 700px 300px;
}

.header {
  grid-area: header;
}

.main {
  grid-area: main;
}

.profile {
  grid-area: profile;
}

.footer {
  grid-area: footer;
}
